<app-header></app-header>
<div class="container p-5">
    <br>
    <h6 class="text-center">Bubble chart</h6>
    <ngx-charts-bubble-chart [view]="view" [scheme]="colorScheme" [results]="bubbleData" [xAxis]="showXAxis"
        [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [yScaleMin]="yScaleMin" [yScaleMax]="yScaleMax"
        [minRadius]="minRadius" [maxRadius]="maxRadius" [legendPosition]="legendPosition">
    </ngx-charts-bubble-chart>
    <br>
    <hr>
    <br>
</div>